.container{
     text-align:center;
     border:2px solid rgb(148, 18, 185);
     margin-top:150px;
     width:400px;
     position:fixed;
     right:530px;
     height: 400px;
     border-radius: 30px;
     backdrop-filter: blur(2px);
     box-shadow: 0 0 100px rgb(84, 17, 108);
}

h1{
    color:white;
    margin-top:50px
}

#i1{
    border-radius: 6px;
    margin:30px;
    width:200px;
    border:1px solid white;
    color:white;
    background-color: transparent;
}
#i2{
    border-radius: 6px;
    margin:0px;
    width:200px;
    border:1px solid white;
    color:white;
    background-color: transparent;
}

#i3{
    margin-top:20px;
    position:absolute;
    right:280px;
    cursor:pointer;
}
.button2{
    margin-top:50px;
    height:25px;
    width:200px;
    border-radius:30px;
    cursor:pointer;
    background-color:lightsteelblue;
    border:1px solid black;
    
}

.button2:hover{
    background-color:snow;
}
body{
    background-image: url("lok.jpg") ;
    background-repeat:no-repeat;
    background-size:auto ;

}

#a1{
    position:absolute;
    left:-20px;
    right:40px;
    top:224px;
    color:white;
    text-decoration:underline;
}

label{
    cursor:pointer;
}
a{
    text-decoration: none;
    color:aqua
}
p{
    color: aliceblue;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .button2 {
        font-size: 14px;
    }
}
